*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-size: 100%;
}
#video{
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: baseline;
    justify-content: space-evenly;
}
/* ****************************************************************************************** */
@keyframes anchor{
    0%{background-color: rgb(222, 206, 23);}
    15%{background-color: royalblue;}
    40%{background-color: rgb(244, 78, 78);}
    60%{background-color: rgb(14, 10, 132);}
    80%{background-color: rgb(108, 6, 57);}
    100%{background-color: greenyellow;}
    20%{font-size: 5px;}
    50%{font-size: 10px;}
    70%{font-size: 15px;}
}
#rocket{
    animation: anchor 7s infinite alternate-reverse;
    border-radius: 50%;
    padding: 4px;
    margin-right: 10px;
    animation-timing-function: ease-in-out;
}
#rocket:hover{
    animation-play-state: paused;
}
.rocket-text:hover{
    text-decoration: none;
}
section img{
    width: 100px;
    background-color: aqua;
}
/* ********************************************************************** */
ul{
    list-style: none;
    margin: 10px 5px;
}
a{
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

a:hover{
    color: #FFB562;
    text-decoration: underline;
    
}
.img1{
    background-image: url('../images/lagoon-nebula.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
div p{
    /* background-color: wheat; */
    color: white;
    text-indent: 30px;
    position: relative;
    display: flex;
    margin: 0;
    /* opacity: 0.9px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
span img{
    border-radius: 20px;
    margin: 5px 5px;
    padding: 5px 25px;
    width: 150PX;
    filter: invert(100%);
}
.viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5em;
  }
  h1 {
    font-family: 'Syncopate', sans-serif;
    color: white;
    text-transform: uppercase;
    /* letter-spacing: 3vw; */
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
  }
  h1 span {
    display: block;
    font-size: 10vw;
    letter-spacing: 1.3vw;
  }

